APP_ENV=local
PORT=4000

# LOCAL must always use 127.0.0.1
MONGODB_URI=mongodb://127.0.0.1:27017/spectra_local

CORS_ORIGIN=http://localhost:3000

TTN_WEBHOOK_SECRET=local-ttn-webhook-secret
CHIRPSTACK_WEBHOOK_SECRET=local-chirpstack-webhook-secret

MQTT_ENABLED=false
MQTT_PROVIDER=ttn
MQTT_BROKER_URL=mqtts://localhost:8883
MQTT_USERNAME=local-mqtt-username
MQTT_PASSWORD=local-mqtt-password
MQTT_TOPIC=v3/+/devices/+/up
